
<launch>
  
  <group ns="VELMWHEEL_OROCOS_ROBOT">
    <param name="VelmWheelInterface_EC/master_config" command="cat $(find velmwheel_bringup)/config/master_config.yaml"/>
	  <group ns="VelmWheel_bias_estimator">
    <rosparam command="load" file="$(find velmwheel_bias_estimator)/param/bias_estimator_params.yaml" />
	  </group>
	  <group ns="VelmWheel_laser_driver">
    <rosparam command="load" file="$(find velmwheel_laser_driver)/param/laser_driver_params.yaml" />
	  </group>
	  <group ns="velmobil_global_localization">
	    	<rosparam command="load" file="$(find velmobil_gl)/param/global_localization_params.yaml" />
	  </group>
  </group>
  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="NAME" value="VELMWHEEL_OROCOS_ROBOT"/>
    <arg name="DEPLOYER_ARGS" value="-s $(find velmwheel_bringup)/config/velmwheel.ops"/>
    <arg name="LOG_LEVEL" value="Warning"/>
    <arg name="DEBUG" value="false"/>
  </include>

<arg name="model" default="$(find velmwheel_description)/urdf/velmobil.urdf.xacro" />

<param name="robot_description" command="$(find xacro)/xacro.py $(arg model) "/>



<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
<!--
<node name="map_server" pkg="map_server" type="map_server" args="$(find velmwheel_description)/maps/map_p109.yaml"/>
-->
<!-- 
<include file="$(find velmwheel_bringup)/launch/include/amcl_velmobil.launch"/>
-->
<!-- 
<include file="$(find velmwheel_bringup)/launch/include/scan_matcher.launch">
  <arg name="laser_topic" value="laser_front"/>
  <arg name="pose_topic" value="scan_matcher_pose_front"/>
  <arg name="use_imu" value="false"/>
  <arg name="imu_topic" value="imu"/>
</include>

<include file="$(find velmwheel_bringup)/launch/include/scan_matcher.launch">
  <arg name="laser_topic" value="laser_rear"/>
  <arg name="pose_topic" value="scan_matcher_pose_rear"/>
  <arg name="use_imu" value="false"/>
  <arg name="imu_topic" value="imu"/>
</include>
-->
<node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=laser_front"/>

</launch>
